@import 'mixins';

header {
  width: 66.6%;
  margin: 0 auto;
  padding: 10px;
  .border-bottom-radius(5px);
  background-color: #4276b6;

  h2 {
    color: white;
    text-align: center;
  }

  a {
    margin-right: 32px;
    text-decoration: none;
    color: #eee;

    &:visited {
      color: #eee;
    }

    &:hover {
      text-decoration: underline;
    }

    &:last-child {
      margin-right: 0;
    }
  }

}
