<form id="new customer">
    <input name="name" placeholder="name" />
    <input name="email" placeholder="email" />
    <input name="pin" placeholder="PIN" />
    <submit id="create-customer" type="submit" value="Add customer" />
</form>